﻿@model SuitSupply.Web.Models.ProductViewModel
<form asp-action="Details"  enctype="multipart/form-data">
    <div class="form-horizontal">
        <h4>Edit product</h4>
        <hr />
        <input type="hidden" asp-for="Id" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label class="col-md-2 control-label">Picture</label>
            <div class="col-md-10">
                <img src="~/uploads/@Model.PhotoName"
                     asp-append-version="true" height="100" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input type="file" id="file" name="file" multiple />
            </div>
        </div>        

        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Code" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Price" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" class="btn btn-success" value="Save" />
            </div>
        </div>

    </div>
</form>
<div>
    <a asp-action="Index">Back to List</a>
</div>