﻿@using SuitSupply.Web.Models
@using X.PagedList.Mvc.Core
@model ProductsViewModel
<h2>Products</h2>
<b>@Html.ActionLink("Seed products", "Seed", "Home")</b> |
@Html.ActionLink("Create new", "Create", "Product") | @Html.ActionLink("Export products", "ExportProducts", "Product")
<form asp-controller="Product" asp-action="Index">
    <p>
        Search: <input type="text" asp-for="SearchTerm" name="searchTerm">
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                Photo
            </th>
            <th>
                Name
            </th>
            <th>
                Code
            </th>
            <th>
                Price
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Data)
        {
            <tr>
                <td>
                    <img src="~/uploads/@item.Photo"
                         asp-append-version="true" width="50" height="50" />                    
                </td>
                <td>
                    @Html.ActionLink(item.Name, "Details", "Product", new { id = item.Id })

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", "Product", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
@Html.PagedListPager(Model.Data, page => Url.Action("Index", new { page }))