﻿@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="col-md-6">
        <h2>Task</h2>
        <ul>            
            <li><a asp-area="" asp-controller="Product" asp-action="Index">Products list</a></li>
            <li><a href="/swagger">API Documentation (Swagger)</a></li>
        </ul>               
    </div>
    <div class="col-md-6">
       
    </div>
</div>
